<footer class="taskbar">
  <button
    type="button"
    class="start-btn"
    [class.open]="(desktop.startOpen$ | async) === true"
    (click)="toggleStart()"
  >
    <app-xp-icon name="start" [size]="18" />
    <span>start</span>
  </button>

  <div class="quick">
    <button type="button" title="My Computer" (click)="desktop.openApp('about')">
      <app-xp-icon name="computer" [size]="16" />
    </button>
    <button type="button" title="Projects" (click)="desktop.openApp('projects')">
      <app-xp-icon name="ie" [size]="16" />
    </button>
    <button type="button" title="Contact" (click)="desktop.openApp('contact')">
      <app-xp-icon name="mail" [size]="16" />
    </button>
  </div>

  <div class="tasks">
    @for (win of desktop.windows$ | async; track win.id) {
      <button
        type="button"
        class="task"
        [class.active]="(desktop.focused$ | async) === win.id && !win.minimized"
        (click)="activate(win.id)"
      >
        <app-xp-icon [name]="win.icon" [size]="16" />
        <span>{{ win.title }}</span>
      </button>
    }
  </div>

  <div class="tray">
    <span class="tray-icon" title="Volume">🔊</span>
    <span class="tray-icon" title="Network">📶</span>
    <time>{{ clock }}</time>
  </div>
</footer>
